<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/partials :: head}">
    <title>Posts</title>
</head>
<body>
<nav th:replace="~{partials/partials :: navbar}"></nav>

<div class="container-fluid">
    <h1>Post:</h1>
    <div th:text="${post.title}"></div>
    <div th:text="${post.body}"></div>
<!--    attempting to display users email with the post also    -->
    <div>Email: <span th:text="${post.user.email}"></span></div>
    <a th:href="@{/posts/{id}/edit(id=${post.id})}">Edit Post</a>
</div>

<footer th:replace="~{partials/partials :: footer}"></footer>
<div th:replace="~{partials/partials :: scripts}"></div>
</body>
</html>