<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{partials/partials :: head}">
    <title>Posts</title>
</head>
<body>
<nav th:replace="~{partials/partials :: navbar}"></nav>

<div>
    <div th:text="${post}"></div>
<!--    attempting to display users email with the post also    -->
<!--    <div th:text="${}"></div>-->
</div>

<footer th:replace="~{partials/partials :: footer}"></footer>
<div th:replace="~{partials/partials :: scripts}"></div>
</body>
</html>