<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roll The Dice!</title>
</head>
<body>

<h3>Guess which number I am about to roll..</h3>
<ul>
    <li><a th:href="@{/roll-dice/1}">1</a></li>
    <li><a th:href="@{/roll-dice/2}">2</a></li>
    <li><a th:href="@{/roll-dice/3}">3</a></li>
    <li><a th:href="@{/roll-dice/4}">4</a></li>
    <li><a th:href="@{/roll-dice/5}">5</a></li>
    <li><a th:href="@{/roll-dice/6}">6</a></li>
</ul>

</body>
</html>