/*font-family: 'Palanquin Dark', sans-serif;
font-family: 'Staatliches', cursive;*/

a.card-anchor {
    text-decoration: none;
    color: black;
    border: 1px solid rgba(82, 82, 82, 0.6);
    border-radius: 0.25em;
    background-image: linear-gradient(#73c21e, #73c21e), linear-gradient(#ffffff, #ffffff);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all .2s ease-out;
}
/* https://codepen.io/davecross/pen/dpNrQg */
a.card-anchor:hover {
    background-size: 100% 8px, auto;
    box-shadow: 0 0 20px rgba(33,33,33,.2);
}

ul {
    list-style: none;
}

div.footer-div {
    width: 15em;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
}

i.leaf-icon {
    font-size: 5em;
    margin: auto;
    padding: 0;
}

body {
    position: relative;
    min-height: 100vh;
}

.body-div {
    padding-bottom: 6em;
}

.nav-footer-a {
    font-family: 'Staatliches', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    text-decoration-color: #73c21e;
    color: black;
    transition: all .2s ease-out;
}

.nav-footer-a:hover {
    text-decoration: underline 0.15em;
    text-decoration-color: #73c21e;
}

div.overflow-div {
    text-align: left;
    width: 100%;
    min-height: 3em;
    max-height: 8em;
    overflow: auto;
    padding: 0 0.5em 0 0;
    margin: 0;
    /*!*white-space: nowrap;*! this is used for horizontal scroll only*/
}

.blog-post-title {
    height: 2em;
    overflow: auto;
    white-space: nowrap;
    padding: .25em 0 0 0;
}

.span-post-title {
    max-width: 100%;
}

div.card {
    width: 20em;
}

div.row {
    width: 30em;
}

.spring-blog-nav-header {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 3.5em;
    margin: 0 auto;
    transition: 0.25s ease-in;
}

.spring-blog-nav-header:hover {
    text-decoration: none;
    color: #73c21e;
    transition: 0.25s ease-out;
}

.footer-icon {
    text-decoration: none;
    color: black;
    font-size: 2em;
    margin: 0 1em;
    transition: 0.25s ease-in;
}

.footer-icon:hover {
    text-decoration: none;
    color: #73c21e;
    transition: 0.25s ease-out;
}

